@import "./variables.scss", './mixins.scss';

.App {
  width: 100%;
  height: auto;
  min-height: 110vh;
}

.menu-main-container {
  margin: 2rem 5rem;
  @include flex-center;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
}

.container-main {
  width: 70%;
  height: auto;
  margin-bottom: $container-mb;
  min-height: 100%;
  min-width: 600px;
  min-height: 400px;
  background: $container-bg;
  border-radius: $container-border-radius;
  box-shadow: $container-shadow;
  overflow: hidden;
  position: absolute;
  right: 5rem;
}


@media screen and (max-width: 1000px) {
  .container-main {
    position: relative;
    right: 0;
  }
  .menu-main-container {
    flex-direction: column;
    @include flex-center;
  }

  .container-main {
    width: 90%;
  }
}
