@import "./variables.scss", './mixins.scss';

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.menu-main-container {
  margin-top: 1rem;
  display: flex;
  @include flex-center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
}

.container-main {
  width: 70%;
  height: auto;
  margin-bottom: $container-mb;
  min-height: 100%;
  min-width: 600px;
  min-height: 400px;
  background: $container-bg;
  border-radius: $container-border-radius;
  box-shadow: $container-shadow;
  overflow: hidden;
}


@media screen and (max-width: 1000px) {
  .menu-main-container {
    flex-direction: column;
    @include flex-center;
  }
}
