@import './variables.scss';

.bet {
    width: 100%;
    height: 100%;

    background-image: url(../images/v894-kul-07-a_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}