@import './shared.scss';
@import './mixins.scss';
@import './variables.scss';

.history {
    background-image: url(../images/history-bg.jpg);
    background-size: cover;
}

.history-header {
    background: #552B2B;
    color: #fff;
}

.history-item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.history-item-win {
    background: #5CA04A;
}

.history-item-lose {
    background: #AD2121;
}

.history-item--content {
    margin: 0 2rem;
    @include flex-center;
    flex-direction: column;
    color: #fff;
}

// .win-info {
//     position: absolute;
//     right: 30%;
// }

// .timestamp {
//     position: absolute;
//     right: 10%;
// }