@import './mixins.scss', './variables.scss', './shared.scss';

.main-menu {
    margin: 0 3rem;
    margin: 0 auto;
    width: 15%;
    min-width: 220px;
    min-height: 550px;
    height: 100%;
    background: $container-bg;
    border-radius: $container-border-radius;
    box-shadow: $container-shadow;

    & .buttons-container{
        width: 100%;
        height: 50%;
        display: flex;
        @include flex-center;
        flex-direction: column;
        justify-content: space-between;

        & .profile-btn {
            color: #fff;
            background: #7C5BFF;
        }

        & .game-btn {
            color: #000;
            background: #FFFBA6;
        }

        & .history-btn {
            color: #000;
            background: #FFA6A6;
        }

    }

    & .profile-thumbnail {
        margin: 1rem 1.5rem;
        padding: 1rem 0;
        @include flex-center;
        flex-direction: column;
        height: auto;
        background: #F1C9FF;
        border-radius: $border-radius-small;
    
        & img {
            width: 6rem;
        }
    }

}


