.btn {
  @include flex-center;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: #f1c9ff;
  border-radius: $btn-border-radius;
  box-shadow: $small-component-shadow;
  text-decoration: none;
  transition: 0.5s ease;
}

.btn:hover {
  transform: translateY(5%);
  box-shadow: none;
}
