@import './variables.scss';
@import './mixins.scss';

.btn {
  @include flex-center;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: $text-shadow-default;
  letter-spacing: 1px;
  background: #f1c9ff;
  border-radius: $btn-border-radius;
  box-shadow: $small-component-shadow;
  text-decoration: none;
  transition: 0.5s ease;
}

.btn:hover,
.active-btn {
  transform: translateY(5%);
  box-shadow: none;
}

.active-btn {
  box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.header {
  width: 100%;
  margin-bottom: 2rem;  
  @include flex-center;
  padding: 0.5rem 5rem;
  font-size: 4rem;
  font-style: italic;
}

.input-text {
  padding: .75rem 0;
  border-radius: 20px;
  border: 1px solid #000;
  outline: none;
  box-shadow: $small-component-shadow;
  font-family: inherit;
  font-size: 1.4rem;
  text-align: center;
  text-shadow: $text-shadow-default;
}

