$container-bg: #fff;
$container-border-radius: 40px;
$container-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.25);
$small-component-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
$container-mb: 2rem;


$btn-border-radius: 30px;


$border-radius-small: 20px;

$bet-price-5: #ff9d9d;
$bet-price-4: #EDAF66;
$bet-price-3: #FFE39D;
$bet-price-2: #E6F4AB;
$bet-price-1: #D4FF9D;
$bet-price-default: #C5C5C5;